@import '../globals.css';
@import '../styles/helper.css';

.accounts-section{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    bottom: 0;
    left: 0;
    margin-left: 45px;
}

.accounts-link{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.account-link-icons{
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.1s ease-in-out;
}

.account-link-icons:hover{
    transform: translateY(-3px);
}

.email-section{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    bottom: 0;
    right: 0;
    margin-right: 45px;
}

.email-link{
    transform: rotate(90deg);
    width: 30px;
    margin-bottom: 19rem;
    font-size: 1.2rem;
    font-family: "SF Mono";
    
}


@media only screen and (max-width: 640px) {
    .accounts-section{
        display: none;
    }
    .email-section{
        display: none;
    }
}

@media only screen and (max-width: 480px) {
  
}