@import '../globals.css';

.project-card{
    position: relative;
}

.project-card-name{
    color: var(--font-color-2);
    font-size: 2rem;
}
.project-desc{
    max-width: 60%;
    color: var(--font-color-4);
    background-color: var(--bg-color-2);
    font-weight: 400;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -15px;
}


.project-tech-stack ul{
    display: flex;
    color: var(--font-color-3);
    font-size: rem;
    list-style-type: none;
    gap: 20px;
}

.project-img{
    position: absolute;
    top: 0;
    right: 0;
    height: fit-content;
    height: 100%;
    max-width: 70%;
    z-index: -2;
    overflow: hidden;
    background-color: var(--font-color-3);
    border-radius: 5px;
}

.project-img img{
    height: 100%;
    width: 100%;
}

/* .project-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(100, 255, 218, 0.6);
}

.project-img::before:hover{
    cursor: pointer;
    bottom: 0;
} */
