@import '../globals.css';
@import '../styles/helper.css';

.row-reverse{
    flex-direction: row-reverse;
}

.text-align-right{
    text-align: right;
}
.ml--10{
    margin-left: -10%;
}
.left-0{
    left: 0;
}

.project-card{
    position: relative;
    display: flex;
    /* flex-direction: row-reverse; */
}

.first{
    width: 50%;
    /* text-align: right; */
}
.second{
    width: 50%;
}

.project-card-name{
    color: var(--font-color-2);
    font-size: 2rem;
}
.project-desc{
    width: 110%;
    /* margin-left: -25%; */
    color: var(--font-color-4);
    background-color: var(--bg-color-2);
    font-weight: 400;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -15px;
}


.project-tech-stack{
    display: flex;
    /* flex-direction: row-reverse; */
    color: var(--font-color-3);
    font-size: rem;
    list-style-type: none;
    gap: 20px;
}

.project-img{
    position: absolute;
    top: 0;
    right: 0;
    /* left : 0; */
    height: fit-content;
    height: 100%;
    max-width: 100%;
    z-index: -2;
    overflow: hidden;
    background-color: var(--font-color-3);
    border-radius: 5px;
}

.project-img img{
    height: 100%;
    width: 100%;
}












/* .project-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(100, 255, 218, 0.6);
}

.project-img::before:hover{
    cursor: pointer;
    bottom: 0;
} */
