@import 'styles/fonts.css';

:root {
  --max-width: 1200px;
  --default-font-size: 16px;
  --bg-color-1: rgb(10, 25, 47);
  --bg-color-2: rgb(23, 42, 69);
  --bg-color-3: rgba(100, 255, 218, 0.07);
  --font-color-1: rgb(136, 146, 176);
  --font-color-2: rgb(204, 214, 246);
  --font-color-3: rgb(100, 255, 218);
  --font-color-4: rgb(168, 178, 209);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: var(--default-font-size);
}
body{
  font-weight: 300;
  font-style: normal;
  font-family: 'Calibre', sans-serif !important;
  font-size: var(--default-font-size);
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 1024px) {
  :root{
    --default-font-size: px;
  }
}

@media only screen and (max-width: 768px) {
  :root{
    --default-font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  :root{
    --default-font-size: 14px;
  }

}

@media only screen and (max-width: 480px) {
  :root{
    --default-font-size: 12px;
  }
}

/* 280px is the lower limit for website */