/* @import url(https://db.onlinewebfonts.com/c/fd811cbfe623f3e2be52b981f67a2102?family=Calibre-Regular); */

@import 'styles/fonts.css';

:root {
  --max-width: 1000px;
  --default-font-size: 18px;
  --bg-color: rgb(10, 25, 47);
  --font-color-1: rgb(136, 146, 176);
  --font-color-2: rgb(204, 214, 246);
  --font-color-3: rgb(100, 255, 218);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 16px;
}

body{
  width: 100%;
  font-weight: 300;
  font-style: normal;
  font-family: 'Calibre', sans-serif !important;
  font-size: var(--default-font-size);
  background-color: var(--bg-color);
  color: var(--font-color-1);
}

